<%= render :partial => 'shared/board', :locals => {:lists => @lists} %>
<div class='overlay'>
  <div class='create card'>
    <div class='card-title'>Edit Card</div>
    <%= render :partial => 'form' %>
    <%= link_to 'Back', @card, :class => 'button-1' %>
  </div>
</div>
