<%= render :partial => 'shared/board', :locals => {:lists => @lists} %>

<div class='overlay'>
  <div class='create card'>
    <div class='card-title'>Create a Card</div>
    <%= render :partial => 'form' %>
    <%= link_to 'Cancel', root_url, :class => 'button-1' %>
  </div>
</div>

