/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* https://color.adobe.com/Neutral-Blue-color-theme-22361/ */

$color-1: #193441;
$color-2: #3E606F;
$color-3: #91AA9D;
$color-4: #D1DBBD;
$color-5: #FCFFF5;

body {
  background: $color-1;
}

.navbar-brand {
  font-size: 20px;
}

.list {
  width: 300px;
  background: $color-3;
  padding: 10px;
  border-radius: 5px;
}

.card {
  display: block;
  background: $color-5;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #000;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: #000;
    text-decoration: none;
    background: $color-4;
  }

  .card-title {
    font-size: 18px
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 100px;
  background: rgba(0, 0, 0, 0.8);

  .card {
    background: $color-5;
    border: 5px solid $color-4;
    overflow: scroll;
    padding: 20px;
    max-width: 800px;
    max-height: 100%;
    margin: 0 auto;

    .card-title {
      font-size: 24px;
    }
  }
}

.button {
  display: inline-block;
  margin: 10px 0 0;
  background: $color-4;
  padding: 6px 8px;;
  color: $color-1;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  float: right;

  &:hover {
    text-decoration: none;
    background: $color-3;
    color: $color-5;
  }
}
