/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* https://color.adobe.com/Neutral-Blue-color-theme-22361/ */

$color-1: #193441;
$color-2: #3E606F;
$color-3: #91AA9D;
$color-4: #D1DBBD;
$color-5: #FCFFF5;

body {
  background: $color-1;
}

.navbar-brand {
  font-size: 20px;
}
